@font-face {
    font-family: "GilsFont";
    src: url(./fonts/Roboto-Black.ttf) format("truetype"), url(./fonts/Roboto-BlackItalic.ttf) format("truetype");
}

body {
    background-image: url(./img/logo.png);
    height: 100%;
}

h1 {
    font-family: "GilsFont";
}

h2 {
    font-family: "GilsFont";
    font-style: italic;
}
